body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

#particles-js {
  background: #1a1a1a;
  background-image: url("");
  background-size: cover;
  background-repeat: repeat; 
  background-position: 50% 50%;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

#entry-panel {
  width: 40%;
  padding: 2em;
  background-color: #ffffff;
  opacity: 0.95;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#index-content {
  margin: 4%;
  font-family: Arial, Helvetica, sans-serif;
}

#error-content {
  position: absolute;
  top: 35%;
  margin-left: 5%;
}
